$tile-width: 200px;
$tile-height: $tile-width;

.hidden {
  display: none;
}

.pageTitle {
  margin: 10px auto;
  width: $tile-width;
}

.forms {
  background: $board-background;
}

main {
  display: flex;
  justify-content: space-around;
}

.messageBox {
  flex-flow: column;
  width: $tile-width;
}

.userBox {
  flex-flow: column;
  width: $tile-width;
}

.rightContent {
  justify-content: flex-end;
}

.leftContent {
  justify-content: flex-start;
}

.board {
  margin: 10px;
}

.tile {
  background: $board-background;
  width: $tile-width;
  height: $tile-height;
  border: solid black 1px;
}

.row {
  display: flex;
  justify-content: center;
}
