$tile-width: 200px;
$tile-height: $tile-width;

body {
  background: $main-color;
  // display: flex;
}

.center {
  margin: 0 auto;
}

.hidden {
  display: none;
}

.pageTitle {
  margin: 10px auto;
  width: $tile-width;
}

.login-forms {
  margin: 0 auto;
  padding: 30px;
  border: 5px solid $form-border-color;
  border-radius: 3px;
  background: $form-body-color;
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-width: 600px;

  h4 {
    margin: 0 auto;
  }
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.submit {
  align-items: flex-end;

  input {
    width: 30%;
  }
}

main {
  display: flex;
  justify-content: space-around;
}

.messageBox {
  flex-flow: column;
  width: $tile-width;
}

.userBox {
  flex-flow: column;
  width: $tile-width;
}

.player-move {
  // padding: auto;
  display: flex;
  font-size: 100px;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.rightContent {
  justify-content: flex-end;
}

.leftContent {
  justify-content: flex-start;
}

.board {
  margin: 10px;
}

.tile {
  background: $board-background;
  width: $tile-width;
  height: $tile-height;
  border: solid black 1px;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
